@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto&display=swap');


:root {
    --bg-color-main: rgb(31, 31, 31);
    --primary-content-color: rgba(255, 255, 255, 0.1);
}



* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;

}

body {
    /* min-height: 100%; */
    background-color: var(--bg-color-main);
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
}

#content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* position: relative; */
    grid-column: 2/3;
    z-index: 100;
    padding-left: 30px;
    /* height: 100%; */
}

#content .display {
    margin-top: 50px;
}

#content>header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-content-color);
    padding: 5px 20px;
    border-radius: 0px 0px 15px 15px;
    left: 55%;
    top: 0;
}

#content header #navbar {
    display: flex;
    gap: 15px;
}

#content header button {
    padding: 5px 15px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 100ms;
}

#content header button.btnActive {
    border-bottom: 2px solid #FFFFFF;
    font-weight: 600;
}

#content header button:hover {
    border-bottom: 2px solid #FFFFFF;
    font-weight: 600;
}


#bg-image {
    font-family: 'Italianno', cursive;
    background: url('../img/shaian-ramesht-exSEmuA7R7k-unsplash.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    min-width: clamp(5%, 28%, 28%);
    box-shadow: inset -90px 0px 24px -33px var(--bg-color-main);
    display: flex;
    justify-content: center;
    position: fixed;
    grid-column: 1/2;
}

#restaurant-name {
    /* position: relative; */
    margin-top: 50px;
    margin-right: 5%;
}

#restaurant-name h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
    color: white;
}


/* DISPLAY */
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
}

.display hr {
    width: 60%;
}


/* DISPLAY HOME */
.display #display-home {
    background: var(--primary-content-color);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    min-width: 70%;
    height: 600px;
    border-radius: 10px;
    padding: 15px 80px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    line-height: 0;

    margin-top: 5rem;
}

.display #display-home header {
    font-family: 'Italianno', cursive;
    font-weight: 200;
    font-size: 2rem;
}

.display #display-home span {
    line-height: 1.8;
    text-justify: left;
}

/* DISPLAY MENU */
.display .display-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
}

.menuPosition {
    height: 400px;
    min-width: 300px;
    background: rgb(240, 239, 239, 0.1);
    /* border-radius: 5px; */
    border: 1px solid #FFFFFF;
    /* box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    color: white;
}

.menuPosition div {
    /* border: 4px solid #FFFFFF; */
}

.menuPosition img {
    width: 100%;
    height: 40%;
}

.menuPosition ul {
    padding: 15px 25px;
}

.menuPosition .title-section h1 {
    text-align: center;
}

.menuPosition .desc-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* DISPLAY CONTACT */
.display-contact {
    background: var(--primary-content-color);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    min-width: 70%;
    height: 600px;
    border-radius: 10px;
    padding: 15px 80px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    line-height: 1;

    margin-top: 5rem;
}